extends layout

block content

  div.row
    div.col-md-12
      h1= title

  div.row
    div.col-md-12
      p Chart the stock market simply.

  div.row
    div.col-md-12
      p(id='message-info' class='bg-warning')

  div.row
    div.col-md-12
      include main-chart.pug

  include options.pug